include ./node-input-tv

.dxp-template-form-row
    label(for="node-input-name" data-i18n="name")
        i.fa.fa-tag
    .content
        input(type="text" id="node-input-name" data-i18n="[placeholder]name")
