include ../../../../.node-red-dxp/pug-helper
include ../../../common/editor/templates/common-head-fields

+dxpFormRowSelect('action', 'Action', 'bolt')
+dxpFormRowSelect('value', 'Value', 'cube')
+dxpFormRowCheckbox('returnInfo', 'return info', 'table', 'Return ambilight information after operation')
