include ../../../common/editor/templates/common-head-fields

+dxpFormRowSelect({ id: "action", label: "Action", icon: 'bolt' })
+dxpFormRowSelect({ id: "value", label: "Value", icon: 'cube' })
+dxpFormRowCheckbox({
    id: "returnInfo",
    label: "return info",
    icon: 'table',
    text: 'Return ambilight information after operation'
})
